<div class="card mb-3 w-100" style="">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{user.image}}" class="card-img img-thumbnail" alt="user image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{user.name}}</h3>
        <h5 class="card-text">{{user.email}}</h5>
        <p>{{myComments.length}} 已評論餐廳
          <br>
          {{Favorited.length}} 收藏的餐廳
          <br>
          {{Followings.length}} followings (追蹤者)
          <br>
          {{Followers.length}} followers (追隨者)
        </p>
        <div class="row ml-1 mt-5">
          {{#if isCurrentUser}}
          <a href="/users/{{user.id}}/edit" class="btn btn-primary col-1">edit</a>
          {{/if}}
          {{#if isFollowing}}
          <form action="/following/{{user.id}}?_method=DELETE" method="post" class="col-1">
            <button type="submit" class="btn btn-danger">取消追蹤</button>
          </form>
          {{else}}
          <form action="/following/{{user.id}}" method="post" class="col-1">
            <button type="submit" class="btn btn-primary">追蹤</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <!--- Followings --->
  <div class="card col-4">
    <div class="card-header">{{Followings.length}} followings (追蹤者)</div>
    <div class="card-body">
      <div class="card-text">
        {{#each Followings}}
        <a href="/users/{{this.id}}" style="text-decoration: none;">
          <img src="{{this.image}}" alt="{{this.name}}" style="width: 70px;">
        </a>
        {{/each}}
      </div>
    </div>
  </div>

  <!--- Comments --->
  <div class="card col-8">
    <div class="card-header">
      {{myComments.length}} 已評論餐廳
    </div>
    <div class="card-body">
      <div class="card-text">
        {{#each myComments}}
        <a href="/restaurants/{{this.id}}" style="text-decoration: none;">
          <img src="{{this.image}}" alt="picture" style="width: 110px;">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <!--- Followers --->
  <div class="card col-4">
    <div class="card-header">{{Followers.length}} followers (追隨者)</div>
    <div class="card-body">
      <div class="card-text">
        {{#each Followers}}
        <a href="/users/{{this.id}}" style="text-decoration: none;">
          <img src="{{this.image}}" alt="{{this.name}}" style="width: 70px;">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <!--- Favorite --->
  <div class="card col-8">
    <div class="card-header">{{Favorited.length}} 收藏的餐廳</div>
    <div class="card-body">
      <div class="card-text">
        {{#each Favorited}}
        <a href="/restaurants/{{this.id}}" style="text-decoration: none;">
          <img src="{{this.image}}" alt="{{this.name}}" style="width: 110px;">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>